body {
  margin: 0;
  font-family: 
  'serif',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,html{
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

:root {
  --font-size : 0.85rem;
}
@media screen and (max-width: 690px){
  html{
      font-size: 8px;
  }
}



